.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.idea/
.vscode/
*.log
node_modules/
training_data/
training_logs/
CM_NN_VL/saved_model/
CM_NN_VL/saved_data/
server_input_melodies/
server_harmonised_output/
.DS_Store

